#upper-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(22, 25, 36);
    padding: .2rem;
    color: white;
}

#lower-navbar {
    display: flex;
    background-color: rgb(57, 63, 88);
    padding: 0.2rem 0;
}

#logo {
    padding: 1rem;
}

#nav-links {
    display: flex;
    gap: 1rem;
    padding: 0 1rem;
}

label {
    display: flex;
}

.search-icon {
    display: flex;
    align-items: center;
}

#menu {
    display: flex;
    align-items: center;
    color: white;
    padding: 0 1rem;
}

input {
    padding: 0.4rem;
    border-radius: 4px 0 0 4px;
    border-right: none;
    background-color: white;
    width: 24rem;
}

input::placeholder {
    padding-left: .24rem;
}

.search-button {
    padding: 0.5rem 1rem;
    border-radius: 0 4px 4px 0;
    background-color: rgb(255, 187, 86);
    color: white;
    border: none;
    cursor: pointer;
}