.footer {
  position: absolute;
  width: 100%;
  background-color: #111;
  color: #ccc;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  border-top: 1px solid #333;
  margin-top: 4rem;
}

.footer a {
  color: #ffbb56;
  text-decoration: none;
  font-weight: 500;
}

.footer a:hover {
  text-decoration: underline;
}
